body {
    background-color: rgb(13, 163, 163);
    font-family: monospace;
    text-align: center;
}

#startBtn {
    width: 100%;
    height: 500px;
    font-size: 100px;
    background-color: rgb(14, 109, 1);
    border-radius: 50px;
    border: 2px solid;
    margin: 5px;
    margin-bottom: 30px;
    font-family: monospace;
}

.load {
    width: 100%;
    height: 500px;
    font-size: 75px;
    border-radius: 50px;
    border: 1px solid;
    margin: 5px;
}

.wash {
    background-color:rgb(255, 0, 255);
}

.dry {
    background-color: rgb(255, 153, 0);
}

.done {
    background-color: yellow !important;
}

#moreInfo {
    text-align: left;
    font-size: 75px;
}

.fakeLink {
    color: red;
    text-decoration: underline;
}

#backBtn {
    width: 100%;
    height: 500px;
    font-size: 100px;
    background-color: rgb(14, 109, 1);
    border-radius: 50px;
    border: 2px solid;
    margin: 5px;
    margin-bottom: 30px;
    font-family: monospace;
}

#miStart {
    text-decoration: underline;
    color: red;
    cursor: pointer;
}

#settingsContainer {
    position: fixed;
    bottom: 0px;
    right: 0px;
}

.text-l1 {
    font-size: 150px;
}

#settings > .text-l1 {
    text-align: center;
}

#settings {
    text-align: left;
    width: 100%;
    height: 100%;
}

.text-l2 {
    font-size: 75px;
}

.text-l3 {
    position: relative;
    left: 50px;
    font-size: 50px;
}

.radio-btn {
    width: 50px;
    height: 50px;
}

#settingsBack {
    position: fixed;
    bottom: 10px;
    left: 3%;
    right: 3%;
    height: 150px;
    background-color: red;
    font-size: 120px;
    border-radius: 60px;
    border: 1px solid black;
}

.timeInput {
    width: 100px;
    font-size: 50px;
    text-align: center;
}